*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(rgb(39, 33, 25),rgb(187, 118, 76),white);
    /* opacity: 90%; */
    padding: 5px 50px;
    position: sticky;
    top: 0px;
    
    position: fixed;
    top: 0px;
    
    z-index: 2;
    width: 100%;

    /* position: relative; */
}

nav img{
    width: 60px;
    height: 60px;
    /* z-index: 1; */

}
nav ul{
    /* flex: 1;
    z-index: 1; */
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: center;
    margin: 5px;
    /* gap: 70px; */
    
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    color: rgb(230, 196, 202);
    
}

nav ul li:hover{
    color: rgb(239, 234, 227);
    background-color: rgb(231, 158, 116);
    
    border-radius: 40px;
    padding: 10px;
    box-shadow: turquoise;
    filter: drop-shadow(0 0 5px rgba(243, 149, 18, 0.863));
}
nav .nav-visited:visited{
    color: rgb(143, 56, 32);
}


/* .carousel-inner .carousel-item .container{
    justify-content: center;
    background-color: black;
    
} */
.carousel .carousel-inner .carousel-item .container .carousel-caption{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.carousel .carousel-inner .carousel-item .container .carousel-caption h1{
    height: 70px;
    font-family: "Matemasie", sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.container .row .col-lg-4{
    box-shadow: turquoise;
    background-color: aliceblue;
    text-align: center;
    padding: 15px;
}
.container .row .col-lg-4:hover{
    filter: drop-shadow(0 0 5px rgba(243, 149, 18, 0.863));
}