footer{
    position: relative;
    height: 100%;
}
/* footer> img{
    width: 100%;
    height: 100%;
    z-index: -3;
} */
 footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    /* bottom: 50%;
    z-index: -1;
    left: 50%; */

 }
footer .footer2{
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 80%;
    position: absolute;
}
footer >.info{
    position: absolute;
}
footer .info .social-media{
    
    margin: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
}
footer .info .social-media img{
    height: 60px;
    width: 60px;
}
footer .info .social-media img:hover{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    /* background: linear-gradient(rgb(62, 4, 4),rgb(41, 46, 25)); */
    color: rgb(2, 5, 5);
    filter: drop-shadow(0 0 10px rgba(167, 105, 20, 0.863));
}